# Python-related files
*.pyc
*.pyo
__pycache__/
*.env
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/
*.log

# IDE and editor-specific files

.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# System-specific files
.DS_Store
Thumbs.db

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfstate.*

# Azure CLI files
# Usually, Azure CLI settings and cache do not need to be versioned
.azure/
